html, body {
  margin: 0 !important;
  padding: 0 !important;
}

html {
  max-width: 700px;
  min-width: 700px;
  min-height: 700px;
  max-height: 700px;
}

.wrapper {
  position: relative;
  height: 700px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#score-meter {
  color: white;
  font-size: 50px;
}

.main-canvas {
  position: absolute;
}